# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Git
.git
.github
.gitignore

# Editors
.vscode/
.idea/

# Environment files
.env
.env.*

# Documentation
README.md

# Test & cache
.pytest_cache/
.mypy_cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/